<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.page.title}">Page Title</title>

    <link href="webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/custom.css}"/>

</head>
<body>

<div class="jumbotron" th:fragment="jumbotron">
    <div class="container">
        <h1 th:text="#{product.jumbotron.h1}">Spring Framework Guru</h1>
        <p class="lead" th:text="#{product.jumbotron.p}">Online Courses for Spring Framework</p>
    </div>
</div>

</body>
</html>